In [83]:
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')
import pandas as pd
import B_funktioner
import pydst as pydst
dst = pydst.Dst(lang='en')


#virker det

In [ ]:

dst.get_subjects()
dst.get_tables(subjects=['14']).sample(10)
empl_vars = dst.get_variables(table_id='RAS200')
indk_vars

empl_api = dst.get_data(table_id = 'RAS200', variables={'OMRÅDE':['*'], 'BEREGNING':['*'], 'TID':['*']})
empl_api

del inc_api['ALDER']

inc_api

del inc_api['HERKOMST']

del inc_api['KØN']

inc_api.rename(columns = {'OMRÅDE':'municipality'}, inplace=True)
inc_api


myDict = {}
for i in range(2005, 2019): # range goes from 2008 to but not including 2017
    myDict[str(i)] = f'e{i}' 
myDict

inc_api.rename(columns = myDict, inplace=True)
inc_api.head(10)

I  = inc_api.municipality.str.contains('Region')
inc_api.loc[I, :]
for val in ['Region', 'Province', 'All Denmark']: 
    I = inc_api.municipality.str.contains(val)
    inc_api = inc_api.loc[I == False] # keep everything else
    
inc_api.rename(columns = {'TID':'year'}, inplace=True)
inc_api 

I  = inc_api.BEREGNING.str.contains('Region')

for val in ['Economic activity rate']: 
    I = inc_api.BEREGNING.str.contains(val)
    inc_api = inc_api.loc[I == False] # keep everything else

del inc_api['BEREGNING']    
    
inc_api

In [20]:

dst.get_subjects()

dst.get_tables(subjects=['02']).head(10)
dst.get_data(table_id = 'FOLK1A').head(10)

        OMRÅDE    KØN  ALDER CIVILSTAND     TID  INDHOLD
0  All Denmark  Total  Total      Total  2008Q1  5475791

In [10]:
folk_var = dst.get_variables(table_id='FOLK1A')
#folk_var
print(folk_var)

for id in ['KØN','Tid']:
    print(id)
    values = folk_var.loc[folk_var.id == id,['values']].values[0,0]
    for value in values:      
        print(f' id = {value["id"]}, text = {value["text"]}')

id            text  elimination   time                      map  \
0      OMRÅDE          region         True  False  denmark_municipality_07
1         KØN             sex         True  False                      NaN
2       ALDER             age         True  False                      NaN
3  CIVILSTAND  marital status         True  False                      NaN
4         Tid            time        False   True                      NaN

                                              values
0  [{'id': '000', 'text': 'All Denmark'}, {'id': ...
1  [{'id': 'TOT', 'text': 'Total'}, {'id': '1', '...
2  [{'id': 'IALT', 'text': 'Total'}, {'id': '0', ...
3  [{'id': 'TOT', 'text': 'Total'}, {'id': 'U', '...
4  [{'id': '2008K1', 'text': '2008Q1'}, {'id': '2...
KØN
 id = TOT, text = Total
 id = 1, text = Men
 id = 2, text = Women
Tid
 id = 2008K1, text = 2008Q1
 id = 2008K2, text = 2008Q2
 id = 2008K3, text = 2008Q3
 id = 2008K4, text = 2008Q4
 id = 2009K1, text = 2009Q1
 id = 2009K2, text = 2009Q2
 id = 2009K3, text = 2009Q3
 id = 2009K4, text = 2009Q4
 id = 2010K1, text = 2010Q1
 id = 2010K2, text = 2010Q2
 id = 2010K3, text = 2010Q3
 id = 2010K4, text = 2010Q4
 id = 2011K1, text = 2011Q1
 id = 2011K2, text = 2011Q2
 id = 2011K3, text = 2011Q3
 id = 2011K4, text = 2011Q4
 id = 2012K1, text = 2012Q1
 id = 2012K2, text = 2012Q2
 id = 2012K3, text = 2012Q3
 id = 2012K4, text = 2012Q4
 id = 2013K1, text = 2013Q1
 id = 2013K2, text = 2013Q2
 id = 2013K3, text = 2013Q3
 id = 2013K4, text = 2013Q4
 id = 2014K1, text = 2014Q1
 id = 2014K2, text = 2014Q2
 id = 2014K3, text = 2014Q3
 id = 2014K4, text = 2014Q4
 id = 2015K1, text = 2015Q1
 id = 2015K2, text = 2015Q2
 id = 2015K3, text = 2015Q3
 id = 2015K4, text = 2015Q4
 id = 2016K1, text = 2016Q1
 id = 2016K2, text = 2016Q2
 id = 2016K3, text = 2016Q3
 id = 2016K4, text = 2016Q4
 id = 2017K1, text = 2017Q1
 id = 2017K2, text = 2017Q2
 id = 2017K3, text = 2017Q3
 id = 2017K4, text = 2017Q4
 id = 2018K1, text = 2018Q1
 id = 2018K2, text = 2018Q2
 id = 2018K3, text = 2018Q3
 id = 2018K4, text = 2018Q4
 id = 2019K1, text = 2019Q1
 id = 2019K2, text = 2019Q2
 id = 2019K3, text = 2019Q3
 id = 2019K4, text = 2019Q4
 id = 2020K1, text = 2020Q1

In [18]:


variables = {'OMRÅDE':['*'],'Tid':['*']}
folk_api = dst.get_data(table_id = 'FOLK1A', variables=variables)
folk_api.head(10)

del folk_api['ALDER']
del folk_api['CIVILSTAND']
del folk_api['KØN']
folk_api.rename(columns = {'OMRÅDE':'municipality'}, inplace=True)
folk_api.rename(columns = {'INDHOLD':'population'}, inplace=True)
#folk_api.rename(columns = {'KØN':'gender'}, inplace=True)
folk_api.rename(columns = {'TID':'year'}, inplace=True)
folk_api.head(5)

folk = folk_api.sort_values(['municipality','year']) # sort by first municipality then year
folk

     municipality    year  population
163      Aabenraa  2008Q1       60189
592      Aabenraa  2008Q2       60283
834      Aabenraa  2008Q3       60427
1640     Aabenraa  2008Q4       60368
1712     Aabenraa  2009Q1       60392
...           ...     ...         ...
4597          Ærø  2019Q1        6058
4745          Ærø  2019Q2        6013
4981          Ærø  2019Q3        6033
4819          Ærø  2019Q4        5990
5102          Ærø  2020Q1        5964

[5145 rows x 3 columns]

In [19]:
#I  = folk.municipality.str.contains('Region')
#folk.loc[I, :]
for val in ['Region', 'Province', 'All Denmark']: 
    I = folk.municipality.str.contains(val)
    folk = folk.loc[I == False] # keep everything else

#U  = folk.year.str.contains('Q1')
#folk.loc[U, :]
for val in ['Q1']: 
    U = folk.year.str.contains(val)
    folk = folk.loc[U == True] # keep only that one
    folk.year = folk.year.str[0:4]

#U  = folk.year.str.contains('2019','2020')
#folk.loc[U, :]
for val in ['2019','2020']: 
    U = folk.year.str.contains(val)
    folk = folk.loc[U == False] # keep everything else
folk

     municipality  year  population
163      Aabenraa  2008       60189
1712     Aabenraa  2009       60392
809      Aabenraa  2010       59978
522      Aabenraa  2011       59795
42       Aabenraa  2012       59600
...           ...   ...         ...
868           Ærø  2014        6393
3140          Ærø  2015        6276
318           Ærø  2016        6290
3869          Ærø  2017        6177
4141          Ærø  2018        6178

[1089 rows x 3 columns]

In [84]:
dst.get_subjects()
dst.get_tables(subjects=['02']).head(10)
dst.get_variables(table_id='FOLK1A')

variables = {'OMRÅDE':['*'],'Tid':['*']}
folkkort = dst.get_data(table_id = 'FOLK1A', variables=variables)
folkkort.head(10)

folkkort = B_funktioner.initial_rename(folkkort)
folkkort = B_funktioner.only_keep_municipalities(folkkort)
folkkort = B_funktioner.quarter_to_year(folkkort)
#folkkort = B_funktioner.sort_reset(folkkort)

folkkort = folkkort.sort_values(['municipality','year'])
folkkort.reset_index(drop=True, inplace=True)
folkkort.rename(columns = {'INDHOLD':'population'}, inplace=True)
folkkort

for val in ['2019','2020']: 
    U = folk.year.str.contains(val)
    folk = folk.loc[U == False] # keep everything else
folk

AttributeError: module 'B_funktioner' has no attribute 'initial_rename'