In [6]:
#Importing needed packages
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')
import pandas as pd
import B_funktioner
import pydst as pydst
dst = pydst.Dst(lang='en')

In [4]:
#Collection of datasets and cleaning
#This first section collects datasets from DST and cleans in order to get the wanted variables
#Tænker at dette skal gøres mere udførligt osv. Det er bare lige for vores eget overbliks skyld
#Måske skal vi overveje at have helt i starten noget der undersøger hvilke datasæt vi vil hente ala nedenstående

dst.get_subjects()

dst.get_tables(subjects=['02']).head(10)
dst.get_variables(table_id='FOLK1A')

dst.get_tables(subjects=['14']).sample(10)
dst.get_data(table_id = 'RAS200').head(10)

        OMRÅDE HERKOMST       ALDER    KØN        BEREGNING   TID  INDHOLD
0  All Denmark    Total  Age, total  Total  Employment rate  2008     76.0

In [3]:
#downloading the population of the danish municipalities
dst.get_subjects()
dst.get_tables(subjects=['02']).head(10)
dst.get_variables(table_id='FOLK1A')

variables = {'OMRÅDE':['*'],'Tid':['*']}
pop = dst.get_data(table_id = 'FOLK1A', variables=variables)
pop.head(10)

pop = B_funktioner.initial_rename(pop)
pop = B_funktioner.quarter_to_year(pop)
pop = B_funktioner.only_keep_municipalities_and_years(pop,0,2008,2018)
pop = B_funktioner.sort_reset(pop)

pop.rename(columns = {'INDHOLD':'population'}, inplace=True)
pop

     municipality  year    KØN  ALDER CIVILSTAND  population
0        Aabenraa  2008  Total  Total      Total       60189
1        Aabenraa  2009  Total  Total      Total       60392
2        Aabenraa  2010  Total  Total      Total       59978
3        Aabenraa  2011  Total  Total      Total       59795
4        Aabenraa  2012  Total  Total      Total       59600
...           ...   ...    ...    ...        ...         ...
1084          Ærø  2014  Total  Total      Total        6393
1085          Ærø  2015  Total  Total      Total        6276
1086          Ærø  2016  Total  Total      Total        6290
1087          Ærø  2017  Total  Total      Total        6177
1088          Ærø  2018  Total  Total      Total        6178

[1089 rows x 6 columns]

In [7]:
#downloading the employment data of the danish municipalities

variables={'OMRÅDE':['*'], 'BEREGNING':['*'], 'TID':['*']}
empl = dst.get_data(table_id = 'RAS200', variables=variables)

empl = B_funktioner.initial_rename(empl)
empl = B_funktioner.quarter_to_year(empl)
empl = B_funktioner.only_keep_municipalities_and_years(empl,0,2008,2018)
empl= B_funktioner.sort_reset(empl)

empl.rename(columns = {'INDHOLD':'population'}, inplace=True)
empl


#inc_api.rename(columns = {'OMRÅDE':'municipality'}, inplace=True)


#inc_api.rename(columns = {'INDHOLD':'Employment Rate'}, inplace=True)

    
#inc_api.rename(columns = {'TID':'year'}, inplace=True)

I  = empl.BEREGNING.str.contains('Region')

for val in ['Economic activity rate']: 
    I = empl.BEREGNING.str.contains(val)
    empl = empl.loc[I == False] # keep everything else
empl

#del inc_api['BEREGNING']

AttributeError: Can only use .str accessor with string values!