In [10]:
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')
import pandas as pd
import pydst
dst = pydst.Dst(lang='en')

#virker det

dst.get_subjects()
dst.get_tables(subjects=['14']).sample(10)
dst.get_data(table_id = 'RAS200').head(10)

indk_vars = dst.get_variables(table_id='RAS200')
indk_vars

indk_vars['values'][0][:10]

inc_api = dst.get_data(table_id = 'RAS200', variables={'OMRÅDE':['*'], 'BEREGNING':['*'], 'TID':['*']})
inc_api

del inc_api['ALDER']

inc_api

del inc_api['HERKOMST']

del inc_api['KØN']

inc_api.rename(columns = {'OMRÅDE':'municipality'}, inplace=True)
inc_api


myDict = {}
for i in range(2005, 2019): # range goes from 2008 to but not including 2017
    myDict[str(i)] = f'e{i}' 
myDict

inc_api.rename(columns = myDict, inplace=True)
inc_api.head(10)

I  = inc_api.municipality.str.contains('Region')
inc_api.loc[I, :]
for val in ['Region', 'Province', 'All Denmark']: 
    I = inc_api.municipality.str.contains(val)
    inc_api = inc_api.loc[I == False] # keep everything else
    
inc_api.rename(columns = {'TID':'year'}, inplace=True)
inc_api 

I  = inc_api.BEREGNING.str.contains('Region')

for val in ['Economic activity rate']: 
    I = inc_api.BEREGNING.str.contains(val)
    inc_api = inc_api.loc[I == False] # keep everything else

del inc_api['BEREGNING']    
    
inc_api

       municipality  year  INDHOLD
0              Køge  2011     73.7
1              Køge  2012     73.3
2              Køge  2013     73.1
3              Køge  2014     74.1
4           Rødovre  2011     73.6
...             ...   ...      ...
2542         Viborg  2018     76.0
2544        Randers  2018     73.9
2546    Brønderslev  2018     74.8
2548      Silkeborg  2018     77.8
2550  Frederikshavn  2018     73.1

[1089 rows x 3 columns]

In [8]:

inc_api.pivot(index='municipality', columns='year', values='INDHOLD')
inc_api.head(10)
#inc_api.pivot skulle gerne bytte om, så year kommer øverst. Dette virker i jupyter lab - kan ikke se hvorfor det ikke virker her.

  municipality        BEREGNING  year  INDHOLD
0         Køge  Employment rate  2011     73.7
1         Køge  Employment rate  2012     73.3
2         Køge  Employment rate  2013     73.1
3         Køge  Employment rate  2014     74.1
4      Rødovre  Employment rate  2011     73.6
5      Rødovre  Employment rate  2012     73.0
6      Rødovre  Employment rate  2013     73.2
7      Rødovre  Employment rate  2014     73.5
8       Dragør  Employment rate  2011     78.5
9       Dragør  Employment rate  2012     78.7

In [15]:
dst.get_subjects()
dst.get_tables(subjects=['14']).sample(10)
dst.get_data(table_id = 'UHELDK7').head(10)

uheld_vars = dst.get_variables(table_id='UHELDK7')
uheld_vars

,id,text,elimination,time,values,map
0,UHELDA,type of accident,True,False,"[{'id': '0000', 'text': 'All accidents'}, {'id...",NaN
1,OMRÅDE,region,True,False,"[{'id': '000', 'text': 'All Denmark'}, {'id': ...",denmark_municipality_07
2,BYLAND,urban area,True,False,"[{'id': '001', 'text': 'Inside urban area'}, {...",NaN
3,UHELDSIT,accident situation,True,False,"[{'id': '000', 'text': 'One-vehicle accidents'...",NaN
4,Tid,time,False,True,"[{'id': '1998', 'text': '1998'}, {'id': '1999'...",NaN

In [17]:
uheld_vars['values'][0][:10]

[{'id': '0000', 'text': 'All accidents'},
 {'id': '1000', 'text': 'Accidents involving persons influenced by alcohol'},
 {'id': '2000', 'text': 'Others accidents'}]

In [18]:
uheld_1 = dst.get_data(table_id = 'UHELDK7', variables={'OMRÅDE':['*'], 'UHELDA':['*'], 'TID':['*']})
uheld_1

,OMRÅDE,UHELDA,TID,BYLAND,UHELDSIT,INDHOLD
0,All Denmark,All accidents,2013,Inside urban area,One-vehicle accidents,205
1,Region Nordjylland,All accidents,2013,Inside urban area,One-vehicle accidents,30
2,Region Midtjylland,All accidents,2013,Inside urban area,One-vehicle accidents,46
3,Region Syddanmark,All accidents,2013,Inside urban area,One-vehicle accidents,56
4,Region Hovedstaden,All accidents,2013,Inside urban area,One-vehicle accidents,46
...,...,...,...,...,...,...
4785,Vesthimmerlands,Others accidents,2018,Inside urban area,One-vehicle accidents,1
4786,Mariagerfjord,Others accidents,2018,Inside urban area,One-vehicle accidents,1
4787,Jammerbugt,Others accidents,2018,Inside urban area,One-vehicle accidents,2
4788,Aalborg,Others accidents,2018,Inside urban area,One-vehicle accidents,6
4789,Hjørring,Others accidents,2018,Inside urban area,One-vehicle accidents,5

In [19]:
del uheld_1['BYLAND']

del uheld_1['UHELDSIT']

uheld_1.rename(columns = {'OMRÅDE':'municipality', 'TID': 'year'}, inplace=True)
uheld_1

            municipality            UHELDA  year  INDHOLD
0            All Denmark     All accidents  2013      205
1     Region Nordjylland     All accidents  2013       30
2     Region Midtjylland     All accidents  2013       46
3      Region Syddanmark     All accidents  2013       56
4     Region Hovedstaden     All accidents  2013       46
...                  ...               ...   ...      ...
4785     Vesthimmerlands  Others accidents  2018        1
4786       Mariagerfjord  Others accidents  2018        1
4787          Jammerbugt  Others accidents  2018        2
4788             Aalborg  Others accidents  2018        6
4789            Hjørring  Others accidents  2018        5

[4790 rows x 4 columns]

In [21]:
I  = uheld_1.municipality.str.contains('Region')
uheld_1.loc[I, :]
for val in ['Region', 'Province', 'All Denmark']: 
    I = uheld_1.municipality.str.contains(val)
    uheld_1 = uheld_1.loc[I == False] # keep everything else

uheld_1

         municipality            UHELDA  year  INDHOLD
6          Copenhagen     All accidents  2013       17
7            Ballerup     All accidents  2013        2
8             Brøndby     All accidents  2013        1
9              Dragør     All accidents  2013        1
10           Glostrup     All accidents  2013        1
...               ...               ...   ...      ...
4785  Vesthimmerlands  Others accidents  2018        1
4786    Mariagerfjord  Others accidents  2018        1
4787       Jammerbugt  Others accidents  2018        2
4788          Aalborg  Others accidents  2018        6
4789         Hjørring  Others accidents  2018        5

[4412 rows x 4 columns]

In [27]:
I  = uheld_1.UHELDA.str.contains('All accidents')
for val in ['Other', 'involving']: 
    I = uheld_1.UHELDA.str.contains(val)
    uheld_1 = uheld_1.loc[I == False] # keep everything else

uheld_1

         municipality         UHELDA  year  INDHOLD
6          Copenhagen  All accidents  2013       17
7            Ballerup  All accidents  2013        2
8             Brøndby  All accidents  2013        1
9              Dragør  All accidents  2013        1
10           Glostrup  All accidents  2013        1
...               ...            ...   ...      ...
4684  Vesthimmerlands  All accidents  2018        1
4685    Mariagerfjord  All accidents  2018        2
4686       Jammerbugt  All accidents  2018        2
4687          Aalborg  All accidents  2018       13
4688         Hjørring  All accidents  2018        6

[1692 rows x 4 columns]

NameError: name 'Aalborg' is not defined