In [9]:
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')
import pandas as pd
import pydst
dst = pydst.Dst(lang='en')

#virker det

dst.get_subjects()
dst.get_tables(subjects=['14']).sample(10)
dst.get_data(table_id = 'RAS200').head(10)

indk_vars = dst.get_variables(table_id='RAS200')
indk_vars

indk_vars['values'][0][:10]

inc_api = dst.get_data(table_id = 'RAS200', variables={'OMRÅDE':['*'], 'BEREGNING':['*'], 'TID':['*']})
inc_api

del inc_api['ALDER']

inc_api

del inc_api['HERKOMST']

del inc_api['KØN']

inc_api.rename(columns = {'OMRÅDE':'municipality'}, inplace=True)
inc_api

inc_api.rename(columns = {'FREKVENS':'emply'}, inplace=True)
inc_api 

myDict = {}
for i in range(2005, 2019): # range goes from 2008 to but not including 2017
    myDict[str(i)] = f'e{i}' 
myDict

inc_api.rename(columns = myDict, inplace=True)
inc_api.head(10)

I  = inc_api.municipality.str.contains('Region')
inc_api.loc[I, :]
for val in ['Region', 'Province', 'All Denmark']: 
    I = inc_api.municipality.str.contains(val)
    inc_api = inc_api.loc[I == False] # keep everything else
    
inc_api.rename(columns = {'TID':'year'}, inplace=True)
inc_api 

I  = inc_api.BEREGNING.str.contains('Region')

for val in ['Economic activity rate']: 
    I = inc_api.BEREGNING.str.contains(val)
    inc_api = inc_api.loc[I == False] # keep everything else
    
inc_api

       municipality        BEREGNING  year  INDHOLD
0              Køge  Employment rate  2011     73.7
1              Køge  Employment rate  2012     73.3
2              Køge  Employment rate  2013     73.1
3              Køge  Employment rate  2014     74.1
4           Rødovre  Employment rate  2011     73.6
...             ...              ...   ...      ...
2542         Viborg  Employment rate  2018     76.0
2544        Randers  Employment rate  2018     73.9
2546    Brønderslev  Employment rate  2018     74.8
2548      Silkeborg  Employment rate  2018     77.8
2550  Frederikshavn  Employment rate  2018     73.1

[1089 rows x 4 columns]

In [8]:

inc_api.pivot(index='municipality', columns='year', values='INDHOLD')
inc_api.head(10)
#inc_api.pivot skulle gerne bytte om, så year kommer øverst. Dette virker i jupyter lab - kan ikke se hvorfor det ikke virker her.

  municipality        BEREGNING  year  INDHOLD
0         Køge  Employment rate  2011     73.7
1         Køge  Employment rate  2012     73.3
2         Køge  Employment rate  2013     73.1
3         Køge  Employment rate  2014     74.1
4      Rødovre  Employment rate  2011     73.6
5      Rødovre  Employment rate  2012     73.0
6      Rødovre  Employment rate  2013     73.2
7      Rødovre  Employment rate  2014     73.5
8       Dragør  Employment rate  2011     78.5
9       Dragør  Employment rate  2012     78.7