In [23]:
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')
import pandas as pd
import pydst
dst = pydst.Dst(lang='en')

#virker det

dst.get_subjects()
dst.get_tables(subjects=['14']).sample(10)
dst.get_data(table_id = 'RAS200').head(10)

indk_vars = dst.get_variables(table_id='RAS200')
#print(indk_vars)

#print(indk_vars['values'][0][:10])

inc_api = dst.get_data(table_id = 'RAS200', variables={'OMRÅDE':['*'], 'BEREGNING':['*'], 'TID':['*']})
#print(inc_api)
del inc_api['ALDER']

del inc_api['HERKOMST']

del inc_api['KØN']

inc_api.rename(columns = {'OMRÅDE':'municipality'}, inplace=True)


inc_api.rename(columns = {'INDHOLD':'Employment Rate'}, inplace=True)

myDict = {}
for i in range(2005, 2019): # range goes from 2008 to but not including 2017
    myDict[str(i)] = f'e{i}' 
myDict

inc_api.rename(columns = myDict, inplace=True)
inc_api.head(10)

I  = inc_api.municipality.str.contains('Region')
inc_api.loc[I, :]
for val in ['Region', 'Province', 'All Denmark']: 
    I = inc_api.municipality.str.contains(val)
    inc_api = inc_api.loc[I == False] # keep everything else
    
inc_api.rename(columns = {'TID':'year'}, inplace=True)

I  = inc_api.BEREGNING.str.contains('Region')

for val in ['Economic activity rate']: 
    I = inc_api.BEREGNING.str.contains(val)
    inc_api = inc_api.loc[I == False] # keep everything else

del inc_api['BEREGNING']

inc_api = inc_api.sort_values(['municipality','year']) # sort by first municipality then year
inc_api.reset_index(drop=True, inplace=True)
print(inc_api)

municipality  year  Employment Rate
0        Aabenraa  2008             74.6
1        Aabenraa  2009             71.6
2        Aabenraa  2010             70.9
3        Aabenraa  2011             70.2
4        Aabenraa  2012             69.5
...           ...   ...              ...
1084          Ærø  2014             65.1
1085          Ærø  2015             65.8
1086          Ærø  2016             67.0
1087          Ærø  2017             68.1
1088          Ærø  2018             70.1

[1089 rows x 3 columns]

In [27]:

inc_api.pivot(index='municipality', columns='year', values='Employment Rate')
inc_api.head(12)
#inc_api.pivot skulle gerne bytte om, så year kommer øverst. Dette virker i jupyter lab - kan ikke se hvorfor det ikke virker her.

   municipality  year  Employment Rate
0      Aabenraa  2008             74.6
1      Aabenraa  2009             71.6
2      Aabenraa  2010             70.9
3      Aabenraa  2011             70.2
4      Aabenraa  2012             69.5
5      Aabenraa  2013             69.4
6      Aabenraa  2014             70.1
7      Aabenraa  2015             70.7
8      Aabenraa  2016             72.0
9      Aabenraa  2017             72.9
10     Aabenraa  2018             74.0
11      Aalborg  2008             73.2

In [30]:
dst.get_subjects()
dst.get_tables(subjects=['14']).sample(10)
dst.get_data(table_id = 'FOLK1E').head(10)

indk_vars = dst.get_variables(table_id='FOLK1E')


# Value of interest 'id': '25', 'text': 'Immigrants from non-western countries'
print(indk_vars)

p#rint(indk_vars['values'][0][:10]) 



inv_api = dst.get_data(table_id = 'FOLK1E', variables={'OMRÅDE':['*'],'HERKOMST':{'*'}, 'TID':['*']})

del inv_api['ALDER']

del inv_api['KØN']

for val in ['Immigrants from non-western countries']: 
    I = inv_api.HERKOMST.str.contains(val)
    inv_api = inv_api.loc[I == True] # Delete everything else

for val in ['Q1']: 
    I = inv_api.TID.str.contains(val)
    inv_api = inv_api.loc[I == True] # Delete everything else
    inv_api.TID = inv_api.TID.str[0:4]

for val in ['2020', '2019']:
    I = inv_api.TID.str.contains(val)
    inv_api = inv_api.loc[I==False]

del inv_api['HERKOMST']

inv_api.rename(columns = {'OMRÅDE':'municipality'}, inplace=True)
inv_api.rename(columns = {'TID':'year'}, inplace=True)
inv_api.rename(columns = {'INDHOLD':'Immigants'}, inplace=True)

for val in ['Region', 'Province', 'All Denmark']: 
    I = inv_api.municipality.str.contains(val)
    inv_api = inv_api.loc[I == False] # keep everything else

inv_api = inv_api.sort_values(['municipality','year']) # sort by first municipality then year

inv_api.reset_index(drop=True, inplace=True)

print(inv_api)

id      text  elimination   time                      map  \
0    OMRÅDE    region         True  False  denmark_municipality_07
1       KØN       sex         True  False                      NaN
2     ALDER       age         True  False                      NaN
3  HERKOMST  ancestry         True  False                      NaN
4       Tid      time        False   True                      NaN

                                              values
0  [{'id': '000', 'text': 'All Denmark'}, {'id': ...
1  [{'id': 'TOT', 'text': 'Total'}, {'id': '1', '...
2  [{'id': 'IALT', 'text': 'Total'}, {'id': '0', ...
3  [{'id': 'TOT', 'text': 'Total'}, {'id': '1', '...
4  [{'id': '2008K1', 'text': '2008Q1'}, {'id': '2...

NameError: name 'p' is not defined

In [45]:
inv_api.pivot(index='municipality', columns='year', values='Immigants')
inv_api.head(13)

   municipality  year  Immigants
0      Aabenraa  2008       1787
1      Aabenraa  2009       1822
2      Aabenraa  2010       1817
3      Aabenraa  2011       1887
4      Aabenraa  2012       1906
5      Aabenraa  2013       1975
6      Aabenraa  2014       2059
7      Aabenraa  2015       2146
8      Aabenraa  2016       2406
9      Aabenraa  2017       2582
10     Aabenraa  2018       2625
11     Aabenraa  2019       2684
12     Aabenraa  2020       2669