In [15]:
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')
import pandas as pd
import pydst
dst = pydst.Dst(lang='en')

#virker det

In [16]:
#Employment Rate - af Henrik Kyndal

dst.get_subjects()
dst.get_tables(subjects=['14']).sample(10)
dst.get_data(table_id = 'RAS200').head(10)

indk_vars = dst.get_variables(table_id='RAS200')
#print(indk_vars)

#print(indk_vars['values'][0][:10])

inc_api = dst.get_data(table_id = 'RAS200', variables={'OMRÅDE':['*'], 'BEREGNING':['*'], 'TID':['*']})
#print(inc_api)
del inc_api['ALDER']

del inc_api['HERKOMST']

del inc_api['KØN']

inc_api.rename(columns = {'OMRÅDE':'municipality'}, inplace=True)


inc_api.rename(columns = {'INDHOLD':'Employment Rate'}, inplace=True)

myDict = {}
for i in range(2005, 2019): # range goes from 2008 to but not including 2017
    myDict[str(i)] = f'e{i}' 
myDict

inc_api.rename(columns = myDict, inplace=True)
inc_api.head(10)

I  = inc_api.municipality.str.contains('Region')
inc_api.loc[I, :]
for val in ['Region', 'Province', 'All Denmark']: 
    I = inc_api.municipality.str.contains(val)
    inc_api = inc_api.loc[I == False] # keep everything else
    
inc_api.rename(columns = {'TID':'year'}, inplace=True)

I  = inc_api.BEREGNING.str.contains('Region')

for val in ['Economic activity rate']: 
    I = inc_api.BEREGNING.str.contains(val)
    inc_api = inc_api.loc[I == False] # keep everything else

del inc_api['BEREGNING']

inc_api = inc_api.sort_values(['municipality','year']) # sort by first municipality then year
inc_api.reset_index(drop=True, inplace=True)
print(inc_api)

municipality  year  Employment Rate
0        Aabenraa  2008             74.6
1        Aabenraa  2009             71.6
2        Aabenraa  2010             70.9
3        Aabenraa  2011             70.2
4        Aabenraa  2012             69.5
...           ...   ...              ...
1084          Ærø  2014             65.1
1085          Ærø  2015             65.8
1086          Ærø  2016             67.0
1087          Ærø  2017             68.1
1088          Ærø  2018             70.1

[1089 rows x 3 columns]

In [8]:

inc_api.pivot(index='municipality', columns='year', values='Employment Rate')
inc_api.head(11)
#inc_api.pivot skulle gerne bytte om, så year kommer øverst. Dette virker i jupyter lab - kan ikke se hvorfor det ikke virker her.

   municipality  year  Employment Rate
0      Aabenraa  2008             74.6
1      Aabenraa  2009             71.6
2      Aabenraa  2010             70.9
3      Aabenraa  2011             70.2
4      Aabenraa  2012             69.5
5      Aabenraa  2013             69.4
6      Aabenraa  2014             70.1
7      Aabenraa  2015             70.7
8      Aabenraa  2016             72.0
9      Aabenraa  2017             72.9
10     Aabenraa  2018             74.0

In [31]:
#UHELD - af Henrik Kyndal

dst.get_subjects()
dst.get_tables(subjects=['14']).sample(10)
dst.get_data(table_id = 'UHELDK7').head(10)

uheld_vars = dst.get_variables(table_id='UHELDK7')

uheld_1 = dst.get_data(table_id = 'UHELDK7', variables={'OMRÅDE':['*'], 'UHELDA':['*'], 'TID':['*']})




del uheld_1['BYLAND']

del uheld_1['UHELDSIT']

uheld_1.rename(columns = {'OMRÅDE':'municipality', 'TID': 'year'}, inplace=True)

I  = uheld_1.municipality.str.contains('Region')
uheld_1.loc[I, :]

for val in ['Region', 'Province', 'All Denmark']: 
    I = uheld_1.municipality.str.contains(val)
    uheld_1 = uheld_1.loc[I == False] # keep everything else


I  = uheld_1.UHELDA.str.contains('All accidents')
for val in ['Other', 'involving']: 
    I = uheld_1.UHELDA.str.contains(val)
    uheld_1 = uheld_1.loc[I == False] # keep everything else

for val in ['2020']:
    I = uheld_1.year.str.contains(val)
    uheld_1 = uheld_1.loc[I == False]




uheld_2 = uheld_1.sort_values(['municipality','year']) # sort by first municipality then year

uheld_2.rename(columns = {'INDHOLD':'Number of accidents'}, inplace=True)

uheld_2.reset_index(drop=True, inplace=True)



del uheld_2['UHELDA']

print(uheld_2)

AttributeError: Can only use .str accessor with string values!

In [32]:
#Population - by Bjørn Bremholm
dst.get_subjects()

dst.get_tables(subjects=['02']).head(10)
dst.get_data(table_id = 'FOLK1A').head(10)

variables = {'OMRÅDE':['*'],'Tid':['*']}
folk_api = dst.get_data(table_id = 'FOLK1A', variables=variables)
folk_api.head(10)

del folk_api['ALDER']
del folk_api['CIVILSTAND']
del folk_api['KØN']
folk_api.rename(columns = {'OMRÅDE':'municipality'}, inplace=True)
folk_api.rename(columns = {'INDHOLD':'population'}, inplace=True)
#folk_api.rename(columns = {'KØN':'gender'}, inplace=True)
folk_api.rename(columns = {'TID':'year'}, inplace=True)
folk_api.head(5)

folk = folk_api.sort_values(['municipality','year']) # sort by first municipality then year

#I  = folk.municipality.str.contains('Region')
#folk.loc[I, :]
for val in ['Region', 'Province', 'All Denmark']: 
    I = folk.municipality.str.contains(val)
    folk = folk.loc[I == False] # keep everything else

#U  = folk.year.str.contains('Q1')
#folk.loc[U, :]
for val in ['Q1']: 
    U = folk.year.str.contains(val)
    folk = folk.loc[U == True] # keep only that one
    folk.year = folk.year.str[0:4]

#U  = folk.year.str.contains('2019','2020')
#folk.loc[U, :]
for val in ['2019','2020']: 
    U = folk.year.str.contains(val)
    folk = folk.loc[U == False] # keep everything else

folk.reset_index(drop=True, inplace=True)
print(folk)

municipality  year  population
0        Aabenraa  2008       60189
1        Aabenraa  2009       60392
2        Aabenraa  2010       59978
3        Aabenraa  2011       59795
4        Aabenraa  2012       59600
...           ...   ...         ...
1084          Ærø  2014        6393
1085          Ærø  2015        6276
1086          Ærø  2016        6290
1087          Ærø  2017        6177
1088          Ærø  2018        6178

[1089 rows x 3 columns]

In [6]:
#Immigants

dst.get_subjects()
dst.get_tables(subjects=['14']).sample(10)
dst.get_data(table_id = 'FOLK1E').head(10)

indk_vars = dst.get_variables(table_id='FOLK1E')


# Value of interest 'id': '25', 'text': 'Immigrants from non-western countries'
#print(indk_vars)

#print(indk_vars['values'][0][:10]) 



inv_api = dst.get_data(table_id = 'FOLK1E', variables={'OMRÅDE':['*'],'HERKOMST':{'*'}, 'TID':['*']})

del inv_api['ALDER']

del inv_api['KØN']

for val in ['Immigrants from non-western countries']: 
    I = inv_api.HERKOMST.str.contains(val)
    inv_api = inv_api.loc[I == True] # Delete everything else

for val in ['Q1']: 
    I = inv_api.TID.str.contains(val)
    inv_api = inv_api.loc[I == True] # Delete everything else
    inv_api.TID = inv_api.TID.str[0:4]

for val in ['2020', '2019']:
    I = inv_api.TID.str.contains(val)
    inv_api = inv_api.loc[I==False]

del inv_api['HERKOMST']

inv_api.rename(columns = {'OMRÅDE':'municipality'}, inplace=True)
inv_api.rename(columns = {'TID':'year'}, inplace=True)
inv_api.rename(columns = {'INDHOLD':'Immigants'}, inplace=True)

for val in ['Region', 'Province', 'All Denmark']: 
    I = inv_api.municipality.str.contains(val)
    inv_api = inv_api.loc[I == False] # keep everything else

inv_api = inv_api.sort_values(['municipality','year']) # sort by first municipality then year

inv_api.reset_index(drop=True, inplace=True)

print(inv_api)

municipality  year  Immigants
0        Aabenraa  2008       1787
1        Aabenraa  2009       1822
2        Aabenraa  2010       1817
3        Aabenraa  2011       1887
4        Aabenraa  2012       1906
...           ...   ...        ...
1084          Ærø  2014        104
1085          Ærø  2015        103
1086          Ærø  2016        123
1087          Ærø  2017        145
1088          Ærø  2018        153

[1089 rows x 3 columns]

In [9]:
inv_api.pivot(index='municipality', columns='year', values='Immigants')
inv_api.head(11)

   municipality  year  Immigants
0      Aabenraa  2008       1787
1      Aabenraa  2009       1822
2      Aabenraa  2010       1817
3      Aabenraa  2011       1887
4      Aabenraa  2012       1906
5      Aabenraa  2013       1975
6      Aabenraa  2014       2059
7      Aabenraa  2015       2146
8      Aabenraa  2016       2406
9      Aabenraa  2017       2582
10     Aabenraa  2018       2625

In [35]:
#MERGE
Tabel1 = inc_api

Tabel1 = Tabel1.join([inv_api['Immigants'],folk['population']])
ImmigantRatio = Tabel1['Immigants']/Tabel1['population']
Tabel1['Immigrant Ratio']=ImmigantRatio

Tabel1
print(Tabel1)

municipality  year  Employment Rate  Immigants  population  \
0        Aabenraa  2008             74.6       1787       60189
1        Aabenraa  2009             71.6       1822       60392
2        Aabenraa  2010             70.9       1817       59978
3        Aabenraa  2011             70.2       1887       59795
4        Aabenraa  2012             69.5       1906       59600
...           ...   ...              ...        ...         ...
1084          Ærø  2014             65.1        104        6393
1085          Ærø  2015             65.8        103        6276
1086          Ærø  2016             67.0        123        6290
1087          Ærø  2017             68.1        145        6177
1088          Ærø  2018             70.1        153        6178

      Immigrant Ratio
0            0.029690
1            0.030170
2            0.030294
3            0.031558
4            0.031980
...               ...
1084         0.016268
1085         0.016412
1086         0.019555
1087         0.023474
1088         0.024765

[1089 rows x 6 columns]

In [86]:
Tabel1.pivot(index='municipality', columns='year', values='Immigants')

Munici = 'Aalborg'
Tabel1.loc[Tabel1['municipality'] == Munici]

   municipality  year  Employment Rate  Immigants  population  Immigrant Ratio
11      Aalborg  2008             73.2       6893      195145         0.035322
12      Aalborg  2009             70.1       7009      196292         0.035707
13      Aalborg  2010             69.7       7229      197426         0.036616
14      Aalborg  2011             69.2       7419      199188         0.037246
15      Aalborg  2012             68.6       7592      201142         0.037744
16      Aalborg  2013             67.9       7766      203448         0.038172
17      Aalborg  2014             68.0       7944      205809         0.038599
18      Aalborg  2015             68.5       8203      207805         0.039475
19      Aalborg  2016             69.5       9084      210316         0.043192
20      Aalborg  2017             69.9       9755      211937         0.046028
21      Aalborg  2018             71.0      10326      213558         0.048352