In [6]:
import numpy as np
import matplotlib.pyplot as plt
plt.style.use('seaborn')
import pandas as pd
import pydst
dst = pydst.Dst(lang='en')

#virker det

dst.get_subjects()
dst.get_tables(subjects=['14']).sample(10)
dst.get_data(table_id = 'RAS200').head(10)

indk_vars = dst.get_variables(table_id='RAS200')
print(indk_vars)

#print(indk_vars['values'][0][:10])

inc_api = dst.get_data(table_id = 'RAS200', variables={'OMRÅDE':['*'], 'BEREGNING':['*'], 'TID':['*']})
print(inc_api)


del inc_api['ALDER']

del inc_api['HERKOMST']

del inc_api['KØN']

inc_api.rename(columns = {'OMRÅDE':'Municipality'}, inplace=True)


inc_api.rename(columns = {'INDHOLD':'Employment Rate'}, inplace=True)


myDict = {}
for i in range(2005, 2019): # range goes from 2008 to but not including 2017
    myDict[str(i)] = f'e{i}' 
myDict

inc_api.rename(columns = myDict, inplace=True)
inc_api.head(10)

I  = inc_api.Municipality.str.contains('Region')
inc_api.loc[I, :]
for val in ['Region', 'Province', 'All Denmark']: 
    I = inc_api.Municipality.str.contains(val)
    inc_api = inc_api.loc[I == False] # keep everything else
    
inc_api.rename(columns = {'TID':'year'}, inplace=True)
inc_api 

I  = inc_api.BEREGNING.str.contains('Region')

for val in ['Economic activity rate']: 
    I = inc_api.BEREGNING.str.contains(val)
    inc_api = inc_api.loc[I == False] # keep everything else

del inc_api['BEREGNING']

inc_api

id       text  elimination   time                      map  \
0     OMRÅDE     region         True  False  denmark_municipality_07
1   HERKOMST   ancestry         True  False                      NaN
2      ALDER        age         True  False                      NaN
3        KØN        sex         True  False                      NaN
4  BEREGNING  frequency        False  False                      NaN
5        Tid       time        False   True                      NaN

                                              values
0  [{'id': '000', 'text': 'All Denmark'}, {'id': ...
1  [{'id': '00', 'text': 'Total'}, {'id': '10', '...
2  [{'id': 'TOT', 'text': 'Age, total'}, {'id': '...
3  [{'id': 'TOT', 'text': 'Total'}, {'id': 'M', '...
4  [{'id': 'BFK', 'text': 'Employment rate'}, {'i...
5  [{'id': '2008', 'text': '2008'}, {'id': '2009'...
             OMRÅDE               BEREGNING   TID HERKOMST       ALDER    KØN  \
0              Køge         Employment rate  2011    Total  Age, total  Total
1              Køge         Employment rate  2012    Total  Age, total  Total
2              Køge         Employment rate  2013    Total  Age, total  Total
3              Køge         Employment rate  2014    Total  Age, total  Total
4           Rødovre         Employment rate  2011    Total  Age, total  Total
...             ...                     ...   ...      ...         ...    ...
2547    Brønderslev  Economic activity rate  2018    Total  Age, total  Total
2548      Silkeborg         Employment rate  2018    Total  Age, total  Total
2549      Silkeborg  Economic activity rate  2018    Total  Age, total  Total
2550  Frederikshavn         Employment rate  2018    Total  Age, total  Total
2551  Frederikshavn  Economic activity rate  2018    Total  Age, total  Total

      INDHOLD
0        73.7
1        73.3
2        73.1
3        74.1
4        73.6
...       ...
2547     77.6
2548     77.8
2549     80.1
2550     73.1
2551     76.1

[2552 rows x 7 columns]

       Municipality  year  Employment Rate
0              Køge  2011             73.7
1              Køge  2012             73.3
2              Køge  2013             73.1
3              Køge  2014             74.1
4           Rødovre  2011             73.6
...             ...   ...              ...
2542         Viborg  2018             76.0
2544        Randers  2018             73.9
2546    Brønderslev  2018             74.8
2548      Silkeborg  2018             77.8
2550  Frederikshavn  2018             73.1

[1089 rows x 3 columns]

In [8]:

inc_api.pivot(index='municipality', columns='year', values='INDHOLD')
inc_api.head(10)
#inc_api.pivot skulle gerne bytte om, så year kommer øverst. Dette virker i jupyter lab - kan ikke se hvorfor det ikke virker her.

  municipality        BEREGNING  year  INDHOLD
0         Køge  Employment rate  2011     73.7
1         Køge  Employment rate  2012     73.3
2         Køge  Employment rate  2013     73.1
3         Køge  Employment rate  2014     74.1
4      Rødovre  Employment rate  2011     73.6
5      Rødovre  Employment rate  2012     73.0
6      Rødovre  Employment rate  2013     73.2
7      Rødovre  Employment rate  2014     73.5
8       Dragør  Employment rate  2011     78.5
9       Dragør  Employment rate  2012     78.7

In [16]:
dst.get_subjects()
dst.get_tables(subjects=['14']).sample(10)
dst.get_data(table_id = 'FOLK1E').head(10)

indk_vars = dst.get_variables(table_id='FOLK1E')
indk_vars

# Value of interest 'id': '25', 'text': 'Immigrants from non-western countries'
#print(indk_vars)
#print(indk_vars['values'][3][:10]) 

inv_api = dst.get_data(table_id = 'FOLK1E', variables={'OMRÅDE':['*'],'HERKOMST':{'*'}, 'TID':['*']})

del inv_api['ALDER']

del inv_api['KØN']

for val in ['Immigrants from non-western countries']: 
    I = inv_api.HERKOMST.str.contains(val)
    inv_api = inv_api.loc[I == True] # Delete everything else

for val in ['Q1']: 
    I = inv_api.TID.str.contains(val)
    inv_api = inv_api.loc[I == True] # Delete everything else
    inv_api.TID = inv_api.TID.str[0:4]


del inv_api['HERKOMST']

inv_api.rename(columns = {'OMRÅDE':'municipality'}, inplace=True)
inv_api.rename(columns = {'TID':'year'}, inplace=True)
inv_api.rename(columns = {'INDHOLD':'Immigants'}, inplace=True)

inv_api = inv_api.sort_values(['municipality','year']) # sort by first municipality then year
print(inv_api)

id      text  elimination   time                      map  \
0    OMRÅDE    region         True  False  denmark_municipality_07
1       KØN       sex         True  False                      NaN
2     ALDER       age         True  False                      NaN
3  HERKOMST  ancestry         True  False                      NaN
4       Tid      time        False   True                      NaN

                                              values
0  [{'id': '000', 'text': 'All Denmark'}, {'id': ...
1  [{'id': 'TOT', 'text': 'Total'}, {'id': '1', '...
2  [{'id': 'IALT', 'text': 'Total'}, {'id': '0', ...
3  [{'id': 'TOT', 'text': 'Total'}, {'id': '1', '...
4  [{'id': '2008K1', 'text': '2008Q1'}, {'id': '2...
[{'id': 'TOT', 'text': 'Total'}, {'id': '1', 'text': 'Persons of Danish origin'}, {'id': '24', 'text': 'Immigrants from western countries'}, {'id': '25', 'text': 'Immigrants from non-western countries'}, {'id': '34', 'text': 'Descendants from western countries'}, {'id': '35', 'text': 'Descendants from non-western countries'}]
      municipality  year  Immigants
927       Aabenraa  2008       1787
2067      Aabenraa  2009       1822
1995      Aabenraa  2010       1817
2522      Aabenraa  2011       1887
2896      Aabenraa  2012       1906
...            ...   ...        ...
4159           Ærø  2016        123
22231          Ærø  2017        145
25744          Ærø  2018        153
26014          Ærø  2019        151
29574          Ærø  2020        152

[1365 rows x 3 columns]